<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 p-0">
      <img
        class="bg-img-cover bg-center"
        src="../assets/images/login/3.jpg"
        alt="looginpage"
      />
    </div>
    <div class="col-xl-7 p-0">
      <div class="login-card">
        <div>
          <div>
            <a class="logo text-start" href="index.html"
              ><img
                class="img-fluid for-light"
                src="../assets/images/logo/login.png"
                alt="looginpage" /><img
                class="img-fluid for-dark"
                src="../assets/images/logo/logo_dark.png"
                alt="looginpage"
            /></a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="InsertForm">
              <div style="text-align: center">
                <h4>تسجيل الدخول</h4>
                <p>أدخل أسم المستخدم وكلمة المرور</p>
              </div>
              <div class="form-group">
                <label class="col-form-label">أسم المستخدم</label>
                <input
                  class="form-control"
                  type="email"
                  required=""
                  placeholder="UserName"
                  formControlName="username"
                />
              </div>
              <div class="form-group">
                <label class="col-form-label">كلمة المرور</label>
                <div class="form-input position-relative">
                  <input
                    class="form-control"
                    type="password"
                    required=""
                    placeholder="*********"
                    formControlName="passowrd"
                  />
                  <div class="show-hide"><span class="show"> </span></div>
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox" />
                  <label class="text-muted" for="checkbox1"
                    >تذكرنى</label
                  >
                </div>
                <!--  [disabled]="!InsertForm.valid" -->
                <button class="btn btn-primary btn-block w-100" 
                         type="submit"
                        
                         (click)="Login()">
                تسجيل دخول
                </button>
              </div>
              <!-- <h6 class="text-muted mt-4 or">Or Sign in with</h6>
                 <div class="social mt-4">
                   <div class="btn-showcase"><a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank"><i class="txt-linkedin" data-feather="linkedin"></i> LinkedIn </a><a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank"><i class="txt-twitter" data-feather="twitter"></i>twitter</a><a class="btn btn-light" href="https://www.facebook.com/" target="_blank"><i class="txt-fb" data-feather="facebook"></i>facebook</a></div>
                 </div> -->
              <!-- <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" href="sign-up.html">Create Account</a></p> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <!-- spinner -->
      <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
          <p style="color: white"> {{ 'spinner' | translate }} </p>  
          </ngx-spinner>  -->

          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
               <p class="loading">Loading Awesomeness...</p>
          </ngx-spinner>