<app-breadcrumb [title]="'ادارة العملاء'"> </app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" style="margin-bottom: 0px">
              <label></label>
              <!-- <select (change)="selectChangeHandlerinterviewer($event)" class="form-select form-control pt-0 pr-10"
                   #CategoryID >
                  <option value="n" selected> {{selectedInterviewerDefault}} </option>
                  <option *ngFor="let obj of _InterviewerIDName" value="{{obj.ID}}">
                      <h3 class="selected-value"> {{obj.Name}} </h3>
                  </option>
              </select> -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="text-right" style="margin-top: 15px; margin-left: 15px">
              <div class="form-group mb-0 mr-0"></div>
              <a class="btn add-btn" (click)="NavigateToInsertClient()">
                <i data-feather="plus-square"> </i>إضافة عميل
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card" style="margin: 3px">
        <div class="card-body">
          <div class="tab-content" id="top-tabContent">
            <div
              class="tab-pane fade show active"
              id="top-home"
              role="tabpanel"
              aria-labelledby="top-home-tab"
            >
              <div class="row">
                <div
                  *ngFor="let item of Client_List"
                  class="col-xl-4 col-lg-6 mb-4"
                >
                  <div class="project-box shadow">
                    <!-- <span
                      class="badge badge-primary badge-color shadow title-style"
                      >{{ item.InterviewerName }}</span> -->
                    <h6></h6>
                    <div class="media Contain-Style mt-4">
                      <!-- <img class="img-20 mr-1 rounded-circle" src="assets/images/user/3.jpg" alt="" data-original-title="" title=""> -->
                      <!-- <i class="fa fa-angle-left"></i> -->
                      <i
                        class="fas fa-layer-group mr-2 pt-1"
                        style="color: darkgrey"
                      ></i>
                      <!-- <div class="media-body">
                        <p>
                          <a href="{{ item.WebsiteUrl }}">الموقع الرسمى</a></p>
                      </div> -->
                    </div>
                    <div class="Category-Img-Title" style="background-image: url(./assets/images/MainDirectory/{{item.logoPath}}) ;background-size: zoom;width: 230px;height: 230px;">
                       <!-- <img src="./assets/images/MainDirectory/{{item.logoPath}}" > -->
                  </div>
                    <div
                      class="row"
                      style="margin-left: 0px; margin-right: 0px">

                      <div class="col-12 description-Style"
                            style=" padding-left: 0px;
                                    padding-right: 0px;
                                    margin-top: 10px;
                                    margin-bottom: 15px;">
                      </div>
                    </div>
                    <div
                      class="row details"
                      style="margin-left: 0px; margin-right: 5px"
                    >
                      <div class="col-5"><span>الأسم</span></div>
                      <div class="col-7" style="color: #eb2067">
                        <span style="color: #eb2067">
                        {{item.name}}
                        </span>
                      </div>
                      <div class="col-5"><span>أسم المستخدم </span></div>
                      <div class="col-7" style="color: #eb2067">
                        <span style="color: #eb2067">
                        {{item.userName}}
                        </span>
                      </div>
                      <div class="col-5"><span>الموبايل </span></div>
                      <div class="col-7" style="color: #eb2067">
                        <span style="color: #eb2067">
                        {{item.mobile}}
                        </span>
                      </div>
                      <div class="col-5"><span>العنوان </span></div>
                      <div class="col-7" style="color: #eb2067">
                        <span style="color: #eb2067">
                        {{item.address}}
                        </span>
                      </div>
                      <div class="col-5"><span>نوع العيل </span></div>
                      <div class="col-7" style="color: #eb2067">
                        <span style="color: #eb2067"> 
                          {{item.clientTypeId}}
                        </span>
                      </div>
                      <div class="col-5"><span> مدينة </span></div>
                      <div class="col-7" style="color: #eb2067">
                        <span style="color: #eb2067">{{item.cityId}} </span>
                      </div>
                    </div>
                    <div
                      class="row"
                      style="
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-bottom: 10px;
                      "
                    >
                      <div class="col-12">
                        <button
                          class="update-btn ml-2"
                          (click)="updateClient(item)">
                          تعديل
                        </button>
                        <button
                          class="delete-btn mr-2"
                          (click)=" DeleteClient(item.clientId)">
                          حذف
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
