<app-breadcrumb [title]="'إدارة المحافظات'"  [active_item]="'Form Wizard'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="padding-bottom:5px !important ;">
            <div *ngIf="update; else elseBlock1">
              <h5 class="pb-2">تعديل محافظة موجودة</h5>
              يمكنك تعديل محافظة أو أكثر فى قائمة المحافظات 
            </div>
          <ng-template #elseBlock1>
            <h5 class="pb-2">إضافة محافظة جديد</h5>
              يمكنك إضافة محافظة أو أكثر فى قائمة المحافظات 
            </ng-template>

        </div>
        <div class="card-body">
            <form [formGroup]="InsertForm">
                <div class="form-group">
                  <label for="name">أسم المحافظة</label>
                  <input class="form-control" id="name" type="text" placeholder="القاهرة" required="required"
                    formControlName="Title" ><!-- onlyAlphabets -->
                    
                  <ng-container class="invalid" style="color: red;"
                    *ngIf="InsertForm.get('Title').hasError('required') && InsertForm.get('Title').touched">
                    أسم المحافظة مطلوب</ng-container>
                </div>
                <div *ngIf="update; else elseBlock">
                    <button  class="btn btn-primary pull-right" 
                    type="submit"
                    [disabled]="!InsertForm.valid"
                    (click)="UpdateGovernorate()">
                    تعديل
                 </button>
                </div>
                <ng-template #elseBlock>
                    <button  class="btn btn-primary pull-right" 
                    type="submit"
                    [disabled]="!InsertForm.valid"
                    (click)="InsertGovernorate()">
                    إضافة
                 </button>
                </ng-template>
               
              </form>
        </div>
      </div>
    </div>
  </div>
</div>